body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

p {
  text-align: justify;
  text-indent: 1em;
  text-justify: inter-word;
}

.presentation {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.presentation div h1,
.presentation div p {
  display: flex;
  justify-content: center;
}

.social-media {
  display: flex;
  justify-content: center;
  margin-bottom: 2%;
}

.social-media a {
  margin: 10px;
}

.social-media img {
  width: 110%;
}

hr {
  margin: 0;
}

.trajectory {
  background-color: #f8f1f9;
}

.resume {
  display: flex;
  justify-content: center;
}

.resume p {
  background-color: #ffffff;
  font-size: x-large;
  width: 40%;
  margin: 2%;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 2%;
}

.projects h1 {
  display: flex;
  justify-content: center;
  font-size: xx-large;
}

.material {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sc-screenshot {
  width: 60%;
  height: 60%;
  border: 1px solid #000000;
  border-radius: 5px;
  margin-right: 1%;
  margin-left: 2%;
  margin-bottom: 2%;
}

.tcc-description {
  width: 60%;
}

.tcc-description p {
  font-size: larger;
  width: 90%;
}
